
/* Pokemon card animation */
@keyframes pokemonSelected {
    0%{
        transform: translateY(0em);
    }
    50%{
        transform: translateY(-1.5em);
    }
    100%{
        transform: translateY(0em);
    }
}


/* Pokeball loader */
.pokeball-loader-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
#pokeball-loader{
    width: 100%;
    max-height: 60px;
    max-width: 60px;
    text-align: center;
    animation: pokeballLoader 1.3s linear infinite;
}

@keyframes pokeballLoader{
    0%{
        transform: translateY(0em);
    }
    15%{
        transform: translateY(-1.7em);
    }
    35%{
        transform: translateY(0em);
    }
    45%{
        transform: translateY(-1em);
    }
    60%{
        transform: translateY(0em);
    }
    70%{
        transform: translateY(-0.5em);
    }
    80%{
        transform: translateY(0em);
    }
}


// scroll icon
@keyframes scrollIcon {
    20% {
        top: 3px;
        opacity: 1;
    }

    100% {
        top: 80%;
        opacity: 0;
    }
}
