
.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    button{
        border: 0;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            color: var(--secondary-color);
        }
    }
    .arrow-pagination{
        display: flex;
        align-items: center;
    }
    .active{
        color: var(--secondary-color);
        font-weight: bold;
    }
}