
.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    button{
        cursor: pointer;
        border: 0;
        font-size: 1em;
        color: var(--primary-color);
        &:hover{
            color: var(--secondary-color);
        }
        &:disabled{
        color: grey;
    }
    }
    .arrow-pagination{
        display: flex;
        align-items: center;
    }
    .active{
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
    }
}