/* Prev and Next pokemon */

#pre-next-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.prev,
.next {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}


/* Single Pokémon page */

#pokemon-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .images {
        margin: 0 auto;
        width: fit-content;
        position: relative;
        border-radius: 30%;

        #pokemon-img {
            max-width: 400px;
        }

        #pokemon-gif {
            max-width: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

// details pokemon: id, name, cry, type, profile
#pokemon-info {
    position: relative;
    margin-top: 1em;

    // id - cry
    .pokemon-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cry-button {
            background-color: transparent;
            border: none;
            font-size: 2em;
            cursor: pointer;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    // name - description
    #pokemon-identity {
        margin: 1em 0 2em;
    }

    // height - weigth
    #pokemon-profile {
        font-size: 0.8em;
        backdrop-filter: brightness(0.9);
        padding: 1em;
        margin-top: 1em;
    }
}

@media (min-width: 768px) {

    // images - details
    #pokemon-page header {
        display: flex;
        justify-content: start;
        gap: 1em;

        .images {
            margin: 0;
        }
    }

}


/* Stats */

#stats {

    .progress {
        margin-bottom: 5px;
        padding: 4px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.43),
            0 1px rgba(255, 255, 255, 0.08);

        .progress-bar {
            height: 4px;
            border-radius: 30px;
            background-image: linear-gradient(to bottom,
                    rgba(255, 255, 255, 0.3),
                    rgba(255, 255, 255, 0.05));
        }
    }
}


/* Forms */
#forms a {
    width: max-content;
    display: block;
    margin-bottom: 10px;
}


/* Abilities */
#abilities {
    .ability {
        margin-bottom: 1em;

        .ability-name {
            text-transform: uppercase;
        }
    }

}


/* Evolutions */

#evolutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

// single evolution: link, desc
.evolution-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    // link
    .evolution {
        display: inline-block;

        &:hover img {
            animation: pokemonSelected 0.8s linear infinite;
        }
    }

    .evolution-desc {
        font-size: 0.8em;
        margin-top: 1em;
    }
}

.evolution-selected {
    border-radius: 1em;
}

@media (min-width: 768px) {
    #evolutions {
        flex-direction: row;
        justify-content: center;
        gap: 3em;
    }
}


/* Location Areas */

#location-areas {

    // map + list
    #world-map-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;

        ul {
            max-height: 300px;
            overflow: auto;
            position: relative;

            &:hover #scroll {
                transform: scale(0.5);
            }

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                margin-bottom: 1em;
                cursor: pointer;
                transition: all 0.1s ease;

                &:hover {
                    border-left: 3px solid var(--secondary-color);
                    padding-left: 3px;
                }
                // location - region
                span {
                    font-size: 0.8em;
                    font-style: italic;
                }
            }
        }
        // map
        #world-map {
            max-width: 500px;
            .pin-label {
                display: none;
            }
        }
    }

    // scroll icon animation
    #scroll {
        width: 25px;
        height: 40px;
        border-radius: 1em;
        position: sticky;
        top: 0;
        left: 100%;
        border: 3px solid var(--primary-color);
        transition: all 0.3s;

        #scroll-point {
            height: 6px;
            width: 4px;
            border-radius: 50%;
            background-color: var(--primary-color);
            position: absolute;
            top: 3px;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            animation: scrollIcon 2s ease-out infinite;
        }
    }
}

@media (min-width: 768px) {
    #location-areas {
        #world-map-wrapper {
            flex-direction: row;
        }
    }
}


/* Moves and Games */
#more-info {
    #controller {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding: 0.5em;

        span {
            cursor: pointer;
        }

        span.active {
            font-weight: bold;
        }
    }

    #order-btn {
        border-width: 1px;
        border-radius: 2px;
        padding: 5px;
        margin: 10px 0;
        cursor: pointer;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}